# Environment configuration for {{ site }}
# Database configuration
SPRING_DATASOURCE_URL={{ datasource_url }}
SPRING_DATASOURCE_USERNAME={{ db_username }}
SPRING_DATASOURCE_PASSWORD={{ db_password }}
